.upper-container {
  width: 80%;
  height: 80%;
  padding-left: 10%;
  padding-top: 1%;
}

.record-container {
  width: 50%;
  height: 100%;
  float: left;
}

.record-bg {
  width: 500px;
  height: 500px;
  background-color: black;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#record-img {
  background-image: url(../static/img/record0.jpg);
  background-size: 100% 100%;
  width: 250px;
  height: 250px;
  border-radius: 250px;
}

/* 歌曲部分 */
.introduction-container {
  width: 500px;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}

.text-container {
  width: 80%;
  padding-left: 20%;
}

.music-title {
  color: white;
  font-size: 4rem;
  text-align: center;
}

.author-container {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/* 下半部分 */
.bottom-container {
  width: 100%;
  height: 20%;
  padding: 0 47px;
}

/* 进度条 */
.progress {
  width: 94%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 20px;
}

/* 已播放的进度条 */
.progress-play {
  width: 0%;
  height: 3px;
  background-color: rgb(36, 166, 127);
}

/* 控制按钮 */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
}

/* 时间 */
.timer-container {
  color: white;
  font-size: 1.3rem;
}

/* 中间按钮部分 */
.center-icon {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 8px;
}

.center-icon:hover {
  opacity: 0.7;
}

.center-icon:active {
  opacity: 0.7;
}

.center-container {
  display: flex;
  align-items: center;
}

.playMode {
  background-image: url('./../static/img/mode1.png');
  background-size: 100% 100%;
}

.beforeMusic {
  background-image: url('./../static/img/上一首.png');
  background-size: 100% 100%;
}

.playPause {
  /* background-image: url('./../static/img/继续播放.png');
  background-size: 100% 100%; */
  width: 50px;
  height: 50px;
}

.icon-play {
  background-image: url('./../static/img/继续播放.png');
  background-size: 100% 100%;
  /* width: 50px;
  height: 50px; */
}

.icon-pause {
  background-image: url('./../static/img/暂停.png');
  background-size: 100% 100%;
}

.nextMusic {
  background-image: url('./../static/img/下一首.png');
  background-size: 100% 100%;
}

.volume {
  background-image: url('./../static/img/音量.png');
  background-size: 100% 100%;
}

/* 下面右边 */
.bottom-icon {
  width: 30px;
  height: 30px;
  margin: 0 15px;
}

#MV {
  background-image: url('./../static/img/MV.png');
  background-size: 100% 100%;
}

#speed {
  color: white;
  font-size: 1.3rem;
}

#list {
  background-image: url('./../static/img/列表.png');
  background-size: 100% 100%;
}

.right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 唱片旋转动画 */
.rotate-play {
  animation: rotateAni 10s infinite linear;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

/* 定义动画过程 */
@keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.close-container {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/* 添加MV容器样式 */
.mv-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mv-video {
  max-width: 80%;
  max-height: 80%;
}

.close-mv-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.list-show {
  animation: showList 0.5s ease-in-out forwards;
}

.list-hide {
  animation: hideList 0.5s ease-in-out forwards;
}

@keyframes showList {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes hideList {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

.list-container {
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255, 0.8);
  color: #000;
  padding: 30px;
  display: none;
  font-size: 24px;
  font-weight: 100;
}

.list-title {
  font-size: 50px;
}

.music-list div {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

.music-list div:hover {
  background-color: #fff;
  color: #000;
}

/* 列表动画 */
.list-show {
  animation: showAni 0.5s ease-in-out forwards;
}

.list-hide {
  animation: hideAni 0.5s ease-in-out forwards;
}

@keyframes showAni {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes hideAni {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}